*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("light back.webp");
    background-size: cover;
    background-position: center;
}

.cards{
    width: 340px;              
    padding: 20px 18px;       

    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(12px);

    border-radius: 18px;
    box-shadow: 3px 3px 10px rgba(12, 12, 12, 0.663);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards h1{
    font-size: 28px;
    margin-bottom: 2px;
}

.cards h2{
    font-size: 18px;
    margin-bottom: 14px;
}

.cards input{
    width: 100%;
    height: 30px;          
    margin: 4px 0;         

    background-color: rgba(255,255,255,0.4);
    border: none;
    border-radius: 6px;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
}

.cards button{
    width: 100%;
    height: 36px;
    margin-top: 10px;

    border: none;
    border-radius: 8px;
    cursor: pointer;

    background: black;
    color: white;
    font-size: 15px;
}


/* ===== log in page css ===== */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login_main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.763);
    background-image: url(white\ back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ===== CARD FIXED ===== */
.login_cards{
    width: 25%;
    min-height: 500px;

    


    background-color: rgba(255, 255, 255, 0.75);  

    border-radius: 18px;
    padding: 30px;
    margin: 40px;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* ===== INPUT ===== */
.log_input{
    width: 220px;
    height: 35px;

    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 4px;

    padding-left: 10px;
    margin-bottom: 15px;
    outline: none;
}

/* ===== BUTTON ===== */
.log_button{
    width: 220px;
    height: 35px;

    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 4px;

    cursor: pointer;
    font-weight: bold;
}


/* ===========  home page ========= */

table{
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th, td {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid rgb(39, 34, 34);
  background-color: rgb(235, 229, 229);
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  background-color: lightgray;
  color: rgb(65, 63, 63);
}

tbody tr:nth-child(even){
  background-color: #f7f7f7;
}

tbody tr:hover {
  background-color: #dbeafe;
  transform: scale(1.01);
  cursor: pointer;
}

td:hover {
  background-color: #bfdbfe;
  color: #000;
}

tbody tr:hover td {
  border-color: #2563eb;
}


